@let actions = allowedActions();
@let disable = disabledItemIds();

<div class="flex flex-wrap flex-row gap-2">
  @for (item of items(); track $index) {
    @if (item) {
      <app-icon-item
        [item]="item"
        [compareItem]="compareWithItem(item)"
        (click)="itemClicked.emit(item)"
        [tp]="contextMenu"
        [tpData]="item"
        tpVariation="contextMenu"
        [showLevel]="!isShopList()"
        [showPrice]="isShopList()"
        [class.cursor-pointer]="clickableItems()"
        [class.opacity-50]="disable.includes(item.id)"
        [class.pointer-events-none]="disable.includes(item.id)"
      ></app-icon-item>
    } @else {
      <app-icon-blank-slot>Bought</app-icon-blank-slot>
    }

    <ng-template #contextMenu let-hide let-item="data">
      @if (actions.length > 0) {
        <ul class="menu bg-base-200 rounded-box w-56 p-0 min-w-[300px]">
          <li class="menu-title">{{ item.name }} Lv.{{ item.dropLevel }}</li>

          <li>
            <a (click)="toggleFavorite(item); hide()">
              {{ item.isFavorite ? 'Unfavorite' : 'Favorite' }}
            </a>
          </li>

          @if (actions.includes('Salvage')) {
            <li [class.menu-disabled]="item.isFavorite">
              <a (click)="salvageItem(item); hide()">
                Salvage for {{ salvageValue(item) | number }} Mana
              </a>
            </li>
          }

          @if (actions.includes('Equip')) {
            @for (hero of allHeroes(); track $index) {
              <li>
                <details>
                  <summary>{{ hero.name }}</summary>
                  <ul>
                    <li>
                      <a (click)="equipItem(item, hero); hide()">
                        @let eqItem = heroEquippedItem(hero, item.__type);

                        @if (eqItem) {
                          Equip [
                          <span class="text-xs text-{{ eqItem.rarity }}">
                            {{ eqItem.name }} Lv.{{ eqItem.dropLevel }}
                          </span>
                          ]
                        } @else {
                          Equip [empty]
                        }
                      </a>
                    </li>
                  </ul>
                </details>
              </li>
            }
          }
        </ul>
      }
    </ng-template>
  } @empty {
    <div>No matching items in inventory.</div>
  }
</div>
