@let liberations = liberationRequirements();
@let curLiberations = currentLiberations();
@let currencies = currencyRequirements();
@let curCurrencies = currentCurrencies();

<div class="card bg-base-100 foreground shadow-xl panel-card">
  <div class="card-body overflow-y-auto">
    <div class="card-title">{{ building() }} Lv.{{ nextLevel() - 1 }}</div>

    @if (isMaxLevel()) {
      <div class="text-success mt-4 mb-4">
        This building is at max level and cannot be upgraded any further.
      </div>
    } @else {
      @if (liberations.length > 0) {
        <div class="text-lg">Liberations</div>

        <div class="flex flex-col">
          @for (lib of liberations; track $index) {
            <div
              class="relative flex gap-2 items-center"
              [class.text-error]="!hasNodeClaim(lib.key, lib.value)"
            >
              <app-icon-location
                class="scale-50 absolute left-[-16px] top-[-24px]"
                [type]="lib.key"
              ></app-icon-location>

              <div class="ml-10">x{{ lib.value | number }}</div>

              <div>({{ curLiberations[lib.key] | number }})</div>
            </div>
          }
        </div>
      }

      @if (currencies.length > 0) {
        <div class="text-lg">Currencies</div>

        <div class="flex flex-col">
          @for (curr of currencies; track $index) {
            <div
              class="relative flex gap-2 items-center"
              [class.text-error]="!hasCurrency(curr.key, curr.value)"
            >
              <app-icon-currency
                class="absolute left-[8px]"
                [currency]="curr.key"
              ></app-icon-currency>

              <div class="ml-10">x{{ curr.value | number }}</div>

              <div>({{ curCurrencies[curr.key] | number }})</div>
            </div>
          }
        </div>
      }

      <div class="mt-6">
        <button
          class="btn btn-primary btn-block"
          [class.btn-disabled]="!canUpgrade()"
          appAnalyticsClick="Game:Town:UpgradeBuilding:{{ building() }}"
          (click)="upgrade()"
          appSfx="item-get-minor"
          [sfxTrigger]="['click', 'hover']"
        >
          Upgrade to Lv.{{ nextLevel() }}
        </button>
      </div>

      <div class="mt-6 italic text-center">
        {{ description() }}
      </div>
    }
  </div>
</div>
