<div class="flex justify-center items-center h-full p-2 flex-col gap-2">
  <div class="w-full lg:max-w-[800px]">
    <div class="card bg-base-100">
      <div class="card-body items-center justify-between">
        <div class="card-title text-center flex flex-col">Heroes</div>

        <div class="text-center flex flex-col italic">
          Name the heroes in your party!
        </div>

        <div class="card-actions pt-3 flex flex-row gap-2">
          <div class="flex flex-row justify-center gap-2 flex-wrap">
            @for (name of heroNames; track $index) {
              @let heroIndex = $index;

              <div class="min-w-[128px] flex flex-col gap-2 items-center">
                <app-atlas-animation
                  [assetName]="heroSprites[heroIndex]()"
                  [spritesheet]="'hero'"
                ></app-atlas-animation>

                <button
                  class="btn btn-info btn-block"
                  [swal]="renameSwal"
                  appSfx="ui-click"
                  [sfxOffset]="heroIndex"
                  [sfxTrigger]="['click', 'hover']"
                >
                  {{ name() }} {{ ascensionRoman() }}
                </button>

                <button
                  class="btn btn-info btn-outline btn-block"
                  appSfx="ui-click"
                  [sfxOffset]="heroIndex + 4"
                  [sfxTrigger]="['click', 'hover']"
                  [tp]="contextMenu"
                  tpVariation="contextMenu"
                  [tpTrigger]="'click'"
                >
                  {{ heroJobs[heroIndex]() }}
                </button>

                <swal
                  #renameSwal
                  title="Rename Hero"
                  text="Choose a name for this hero!"
                  input="text"
                  inputPlaceholder="Enter new name..."
                  inputValue="{{ name() }}"
                  [inputAttributes]="{ minlength: '2', maxlength: '12' }"
                  icon="warning"
                  (confirm)="renameHero(heroIndex, $event)"
                ></swal>

                <ng-template #contextMenu let-hide let-item="data">
                  <ul
                    class="menu bg-base-200 rounded-box w-56 p-0 min-w-[300px]"
                  >
                    @for (job of allJobs(); track $index) {
                      <li>
                        <a
                          class="flex flex-col items-start"
                          (click)="heroJobs[heroIndex].set(job.name); hide()"
                        >
                          <span class="font-bold">
                            {{ job.name }}
                          </span>

                          <p class="italic text-xs">{{ job.description }}</p>
                        </a>
                      </li>
                    }
                  </ul>
                </ng-template>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full lg:max-w-[800px]">
    <div class="card bg-base-100">
      <div class="card-body items-center justify-between">
        <div class="card-title text-center flex flex-col">World Size</div>

        <div class="text-center flex flex-col italic">
          Smaller worlds are less challenging than larger ones!
        </div>

        <div class="card-actions pt-3 flex flex-row gap-2 justify-center">
          @for (config of allWorldSizes; track $index) {
            <div class="min-w-[128px]">
              <input
                type="radio"
                name="worldSize"
                [id]="'worldSize-' + $index"
                [value]="config"
                [(ngModel)]="selectedWorldSize"
                class="hidden"
              />
              <label
                [for]="'worldSize-' + $index"
                class="btn btn-block btn-secondary"
                [class.btn-outline]="selectedWorldSize().id !== config.id"
                appAnalyticsClick="Setup:World:{{ config.name }}"
                appSfx="ui-click"
                [sfxOffset]="$index"
                [sfxTrigger]="['click', 'hover']"
              >
                {{ config.name }}
              </label>
            </div>
          }
        </div>

        @if (selectedWorldSize(); as worldSize) {
          <div class="mt-4 italic text-center flex flex-row gap-4">
            <span>{{ worldSize.width }}x{{ worldSize.height }} tiles</span>

            <span>Max Lv.{{ worldSize.maxLevel }}</span>

            <span>
              @let nodeCountValues = nodeCounts();

              Location Count: {{ nodeCountValues.min }} -
              {{ nodeCountValues.max }}
            </span>

            <span>
              Duskmote Multiplier: x{{ worldSize.duskmoteMultiplier }}
            </span>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="w-full lg:max-w-[800px]">
    <div class="card bg-base-100">
      <div class="card-body items-center justify-between">
        <div class="card-title text-center flex flex-col">World Seed</div>

        <div
          class="text-center flex flex-row justify-center gap-2 italic px-[15%]"
        >
          The world seed is used to generate the world. You can use a custom
          seed or leave it empty to let the game generate one for you.
        </div>

        <input
          type="text"
          class="input input-bordered w-full"
          placeholder="Enter world seed..."
          [(ngModel)]="worldSeed"
        />
      </div>
    </div>
  </div>

  @if (shouldShowDuskmoteShop()) {
    <div class="w-full lg:max-w-[800px]">
      <div class="card bg-base-100">
        <div class="card-body items-center justify-between">
          <div class="card-title text-center flex flex-col">Duskmote Shop</div>

          <div
            class="text-center flex flex-row justify-center gap-2 italic px-[15%]"
          >
            The Duskmote Shop allows you to purchase special items using
            Duskmotes. You have {{ duskmoteAmount() | number }} Duskmotes.
          </div>

          <button
            class="btn btn-secondary btn-block"
            (click)="showDuskmoteShop()"
            appSfx="ui-click"
            [sfxTrigger]="['click', 'hover']"
          >
            Show Duskmote Shop
          </button>
        </div>
      </div>
    </div>
  }

  <div class="w-full lg:max-w-[800px]">
    <div class="card bg-base-100">
      <div class="card-body items-center justify-between">
        <button
          class="btn btn-primary btn-block"
          (click)="createWorld()"
          [disabled]="!selectedWorldSize() || isGeneratingWorld()"
          appSfx="ui-click"
          [sfxTrigger]="['click', 'hover']"
        >
          @if (isGeneratingWorld()) {
            <span class="loading loading-spinner loading-sm"></span>
            Generating World...
          } @else {
            Start Game
          }
        </button>
      </div>
    </div>
  </div>
</div>

<app-modal
  [visible]="isShowingDuskmoteShop()"
  [showCloseButton]="true"
  [allowEscToClose]="true"
  [widthClass]="'max-w-[unset]'"
  (modalClose)="closeDuskmoteShop()"
>
  <span title>Duskmote Shop</span>

  <div body>
    <app-panel-duskmote-shop></app-panel-duskmote-shop>
  </div>
</app-modal>
