@let glanceResourceValue = showGlanceResources();
@let glanceHeroValue = showGlanceHeroes();
@let glanceClaimValue = showGlanceClaims();

<div class="game-container relative">
  <app-game-map-pixi class="absolute inset-0 map-layer"></app-game-map-pixi>

  @if (isShowingAnyMenu()) {
    <div
      class="absolute inset-0 static-layer bg-gray-400/35"
      (click)="closeAllMenus()"
    ></div>
  }

  @if (showOptions()) {
    <app-panel-container>
      <app-panel-options
        class="absolute inset-0 panel-layer"
      ></app-panel-options>
    </app-panel-container>
  }

  @if (showHeroes()) {
    <app-panel-container>
      <app-panel-heroes class="absolute inset-0 panel-layer"></app-panel-heroes>
    </app-panel-container>
  }

  @if (showInventory()) {
    <app-panel-container>
      <app-panel-inventory
        class="absolute inset-0 panel-layer"
      ></app-panel-inventory>
    </app-panel-container>
  }

  @if (showCombat()) {
    <app-panel-container>
      <app-panel-combat class="absolute inset-0 panel-layer"></app-panel-combat>
    </app-panel-container>
  }

  @if (showTown()) {
    <app-panel-container>
      <app-panel-town class="absolute inset-0 panel-layer"></app-panel-town>
    </app-panel-container>
  }

  @if (showWorld()) {
    <app-panel-container>
      <app-panel-world class="absolute inset-0 panel-layer"></app-panel-world>
    </app-panel-container>
  }

  @if (showLocation()) {
    <app-panel-container>
      <app-panel-location
        class="absolute inset-0 panel-layer"
      ></app-panel-location>
    </app-panel-container>
  }

  @if (showHelp()) {
    <app-panel-container>
      <app-panel-help class="absolute inset-0 panel-layer"></app-panel-help>
    </app-panel-container>
  }

  @if (glanceResourceValue !== 'hidden') {
    <app-glance-resources
      class="absolute glance-layer top-2"
      [class.left-2]="glanceResourceValue === 'left'"
      [class.right-2]="glanceResourceValue === 'right'"
    ></app-glance-resources>
  }

  @if (glanceClaimValue !== 'hidden') {
    <app-glance-claims
      class="absolute glance-layer bottom-[128px]"
      [class.left-2]="glanceClaimValue === 'left'"
      [class.right-2]="glanceClaimValue === 'right'"
    ></app-glance-claims>
  }

  @if (glanceHeroValue !== 'hidden') {
    <div
      class="flex relative left-0 right-0"
      [class.justify-center]="glanceHeroValue === 'middle'"
    >
      <app-glance-heroes
        class="absolute glance-layer bottom-2"
        [class.left-2]="glanceHeroValue === 'left'"
        [class.right-2]="glanceHeroValue === 'right'"
      ></app-glance-heroes>
    </div>
  }

  @if (showGlanceFailures()) {
    <div
      class="flex justify-center absolute top-0 left-0 right-0 min-h-[32px] cursor-pointer"
      (click)="setOption('showHeroFailureIndicator', false)"
    >
      <app-glance-failures class="glance-layer"></app-glance-failures>
    </div>
  }
</div>

@if (isCatchingUp()) {
  <div
    class="absolute top-[40px] left-0 z-100 w-full h-full flex justify-center items-center"
  >
    <div class="card bg-base-100 shadow-xl my-4 page-card mx-auto">
      <div class="card-body flex flex-row">
        <span class="loading loading-spinner loading-sm"></span>
        Catching up...
      </div>
    </div>
  </div>
}

@if (showWinNotification()) {
  <div
    class="absolute top-[40px] left-0 z-100 w-full h-full flex justify-center items-center"
  >
    <div class="card bg-base-100 shadow-xl my-4 page-card mx-auto">
      <div class="card-body">
        <div class="card-title">You Won!</div>

        <div>
          You can either keep playing or go back to the main menu again. It took
          you {{ winTicks() | number }} seconds to clear this world.
        </div>

        <div class="card-actions justify-end">
          <button class="btn btn-default" [routerLink]="['/']">
            Main Menu
          </button>
          <button class="btn btn-primary" (click)="continuePlayingPostWin()">
            Continue Playing
          </button>
        </div>
      </div>
    </div>
  </div>
}
