<div class="flex flex-row gap-2 panel-card-container">
  <div class="flex-1 flex flex-col">
    <app-panel-town-building-upgrade
      [building]="'Market'"
    ></app-panel-town-building-upgrade>
  </div>

  <div class="flex-2">
    <div class="card bg-base-100 foreground shadow-xl">
      <div class="card-body">
        <div class="card-title">Trade Currency</div>

        <app-selector-currency
          [(currency)]="inputCurrency"
          (currencyChange)="inputAmountChanged()"
        ></app-selector-currency>

        <label class="input input-neutral w-full">
          <span class="label">Input</span>
          <input
            type="number"
            min="0"
            placeholder="How many will you trade?"
            [(ngModel)]="inputAmount"
            (ngModelChange)="inputAmountChanged()"
          />
          <span class="label">
            @if (inputCurrencyInfo(); as inputCurr) {
              /
              <app-marker-currency-inline
                [currency]="inputCurr.currency"
                [value]="inputCurr.amount"
              ></app-marker-currency-inline>
            }
          </span>
        </label>

        @if (inputCurrency() && !hasInputAmount()) {
          <div class="text-error">
            You do not have enough {{ inputCurrency()?.name }}.
          </div>
        }
      </div>
    </div>
  </div>

  <div class="flex-2">
    <div class="card bg-base-100 foreground shadow-xl">
      <div class="card-body">
        <div class="card-title">Desired Currency</div>

        <app-selector-currency
          [(currency)]="outputCurrency"
          (currencyChange)="outputAmountChanged()"
        ></app-selector-currency>

        <label class="input input-neutral w-full">
          <span class="label">Output</span>
          <input
            type="number"
            min="0"
            placeholder="How many do you want?"
            [(ngModel)]="outputAmount"
            (ngModelChange)="outputAmountChanged()"
          />
          <span class="label">
            @if (outputCurrencyInfo(); as outputCurr) {
              /
              <app-marker-currency-inline
                [currency]="outputCurr.currency"
                [value]="outputCurr.amount"
              ></app-marker-currency-inline>
            }
          </span>
        </label>

        <button
          class="btn btn-primary"
          [class.btn-disabled]="!canTrade()"
          (click)="trade()"
          appSfx="item-get-minor"
          [sfxTrigger]="['click', 'hover']"
        >
          Trade!
        </button>
      </div>
    </div>
  </div>
</div>
