@let actions = allowedActions();
@let disable = disabledSkillIds();

<div class="flex flex-wrap flex-row gap-2">
  @for (skill of skills(); track skill.id) {
    <app-icon-skill
      [skill]="skill"
      [compareSkill]="compareSkill()"
      [equippingHero]="compareWithEquippedHero()"
      (click)="skillClicked.emit(skill)"
      [tp]="contextMenu"
      [tpData]="skill"
      tpVariation="contextMenu"
      [class.cursor-pointer]="clickableSkills()"
      (mouseenter)="animateItem.set(skill.id)"
      (mouseleave)="animateItem.set('')"
      [class.opacity-50]="disable.includes(skill.id)"
      [class.pointer-events-none]="disable.includes(skill.id)"
    ></app-icon-skill>

    <ng-template #contextMenu let-hide let-item="data">
      @if (actions.length > 0) {
        <ul class="menu bg-base-200 rounded-box w-56 p-0">
          <li class="menu-title">{{ item.name }}</li>

          <li>
            <a (click)="toggleFavorite(item)">
              {{ item.isFavorite ? 'Unfavorite' : 'Favorite' }}
            </a>
          </li>

          @if (actions.includes('Salvage') && !item.isFavorite) {
            <li>
              <a (click)="salvageItem(item)">
                Salvage for {{ salvageValue(item) | number }} Mana
              </a>
            </li>
          }

          @if (actions.includes('Salvage') && item.isFavorite) {
            <li>
              <a class="disabled">
                Salvage for {{ salvageValue(item) | number }} Mana (Favorited)
              </a>
            </li>
          }
        </ul>
      }
    </ng-template>
  } @empty {
    <div>No matching items in inventory.</div>
  }
</div>
