<div class="navbar bg-base-100 relative flex py-0">
  <div class="navbar-start flex-1">
    <ul class="menu menu-horizontal py-0 px-1">
      <li class="flex gap-2 flex-row disabled">
        <span class="italic">
          {{ currentStatus() }}
        </span>
      </li>
    </ul>
  </div>

  <div class="navbar-center">
    <ul class="menu menu-horizontal px-1" appRequireSetup>
      <li>
        <details
          [open]="shouldShowCurrencyList()"
          (click)="toggleCurrencyList()"
        >
          <summary class="!pl-2">
            <app-marker-currency-current
              currency="Mana"
            ></app-marker-currency-current>
          </summary>

          <ul class="bg-base-100 rounded-t-none p-2 z-51 !mt-0 !pe-8">
            @for (currency of displayedCurrencies(); track $index) {
              <app-marker-currency-current
                [currency]="currency"
              ></app-marker-currency-current>
            } @empty {
              No other currencies
            }
          </ul>
        </details>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1 flex gap-2">
      @for (panel of panelConfigs; track $index) {
        <li class="action-button" appRequireSetup>
          <button
            class="btn btn-xs btn-accent"
            [tp]="panel.name + ' [' + panel.hotkey + ']'"
            (click)="panel.clickCb()"
            appSfx="ui-click"
            [sfxOffset]="$index"
            [sfxTrigger]="['click', 'hover']"
          >
            <app-icon [name]="panel.icon" size="2em" color="#000"></app-icon>
          </button>
        </li>
      }

      <li class="action-button" appRequireSetup>
        <button
          class="btn btn-xs btn-info"
          [tp]="'Focus Camera [F]'"
          (click)="focusCamera()"
          appSfx="ui-click"
          [sfxOffset]="panelConfigs.length + 1"
          [sfxTrigger]="['click', 'hover']"
        >
          <app-icon name="gameHumanTarget" size="2em" color="#000"></app-icon>
        </button>
      </li>

      <li class="action-button" appRequireSetup>
        <button
          class="btn btn-xs btn-info"
          [tp]="isPaused() ? 'Resume Game [SPACE]' : 'Pause Game [SPACE]'"
          (click)="togglePause()"
          appSfx="ui-click"
          [sfxOffset]="panelConfigs.length + 2"
          [sfxTrigger]="['click', 'hover']"
        >
          <app-icon
            [name]="isPaused() ? 'gamePlayButton' : 'gamePauseButton'"
            size="2em"
            color="#000"
          ></app-icon>
        </button>
      </li>

      <li class="action-button">
        <a
          class="btn btn-xs btn-warning"
          [swal]="leaveSwal"
          [tp]="'Go Back [Q]'"
          appSfx="ui-error"
          [sfxOffset]="panelConfigs.length + 1"
          [sfxTrigger]="['click', 'hover']"
        >
          <app-icon name="gameExitDoor" size="2em" color="#000"></app-icon>
        </a>
      </li>
    </ul>
  </div>
</div>

<swal
  #leaveSwal
  title="Go back to main menu?"
  icon="question"
  confirmButtonText="Yes, go back"
  cancelButtonText="No, stay here"
  (confirm)="router.navigate(['..'])"
></swal>
