@let talentData = talent();

<app-icon-blank-slot class="absolute"></app-icon-blank-slot>

<div
  class="h-[64px] w-[64px] outline outline-2 z-0 absolute"
  [class.outline-green-400]="isBought()"
></div>

<app-atlas-image
  class="z-10 absolute"
  [assetName]="talentData.sprite"
  [spritesheet]="'talent'"
  [tp]="talentInfo"
  [tpIsEnabled]="talentData.name !== 'Blank Talent'"
></app-atlas-image>

<ng-template #talentInfo let-hide>
  <app-stats-talent [talent]="talentData"></app-stats-talent>
</ng-template>
