@let talentData = talent();

<app-icon-blank-slot class="absolute"></app-icon-blank-slot>

<div
  class="h-[64px] w-[64px] outline outline-2 z-0 absolute"
  [class.outline-green-400]="isBought()"
></div>

<app-atlas-image
  class="z-10 absolute"
  [assetName]="talentData.sprite"
  [spritesheet]="'talent'"
  [tp]="talentInfo"
  [tpIsEnabled]="talentData.name !== 'Blank Talent'"
></app-atlas-image>

@if (boostValue()) {
  <div
    class="z-20 absolute bottom-0 right-1 text-xs font-bold italic text-white text-shadow-black"
  >
    + {{ boostValue() }}
  </div>
}

<ng-template #talentInfo let-hide>
  <app-stats-talent
    [talent]="talentData"
    [requiredTalentsInvested]="requiredTalentsInvested()"
    [currentTalentsInvested]="currentTalentsInvested()"
  ></app-stats-talent>
</ng-template>
