@let itemData = item();
@let deltaStat = statDeltas();
@let deltaElement = elementDeltas();
@let allTalents = talents();
@let allElements = elementBoosts();
@let allSkills = skills();

<h3 class="text-lg" [ngClass]="itemRarityClass()">
  {{ itemData.name }}
</h3>

<div class="mt-3">
  <div>Level {{ itemData.dropLevel }}</div>

  <div>{{ itemData.rarity }} {{ itemData.__type }}</div>

  <div class="mt-2 items-center flex gap-2">
    @for (trait of itemTraits(); track $index) {
      <app-marker-trait [trait]="trait"></app-marker-trait>
    }
  </div>

  @if (hasStats()) {
    <div class="mt-3 font-bold mb-1">Stats</div>
  }

  @if (itemHealth() || deltaStat?.Health) {
    <app-marker-stat
      stat="Health"
      [value]="itemHealth() || 0"
      [delta]="deltaStat?.Health ?? 0"
    ></app-marker-stat>
  }

  @if (itemForce() || deltaStat?.Force) {
    <app-marker-stat
      stat="Force"
      [value]="itemForce() || 0"
      [delta]="deltaStat?.Force ?? 0"
    ></app-marker-stat>
  }

  @if (itemAura() || deltaStat?.Aura) {
    <app-marker-stat
      stat="Aura"
      [value]="itemAura() || 0"
      [delta]="deltaStat?.Aura ?? 0"
    ></app-marker-stat>
  }

  @if (itemSpeed() || deltaStat?.Speed) {
    <app-marker-stat
      stat="Speed"
      [value]="itemSpeed() || 0"
      [delta]="deltaStat?.Speed ?? 0"
    ></app-marker-stat>
  }

  @if (allElements.length > 0) {
    <div class="mt-3 font-bold mb-1">Elements</div>

    @for (element of allElements; track $index) {
      <app-marker-element
        [element]="element.element"
        [value]="element.multiplier"
        [delta]="deltaElement?.[element.element] ?? 0"
      ></app-marker-element>
    }
  }

  @if (allSkills.length > 0) {
    <div class="mt-3 font-bold mb-1">Skills</div>

    <ul class="list-disc pl-5">
      @for (skill of allSkills; track $index) {
        <li>{{ skill.name }}</li>
      }
    </ul>
  }

  @if (allTalents.length > 0) {
    <div class="mt-3 font-bold mb-1">Talents</div>

    <ul class="list-disc pl-5">
      @for (talent of allTalents; track $index) {
        <li>{{ talent.name }}: +{{ talent.value }}</li>
      }
    </ul>
  }
</div>
