@let itemData = item();
@let deltaStat = statDeltas();
@let deltaElement = elementDeltas();
@let allTalents = talents();
@let allElements = elementBoosts();
@let allSkills = skills();

<h3 class="text-lg" [ngClass]="['text-' + itemData.rarity]">
  {{ itemData.name }}

  @if (enchantLevel() > 0) {
    +{{ enchantLevel() }}
  }

  <app-marker-symmetry
    class="ml-2"
    [orientation]="'horizontal'"
    [level]="symmetryLevel()"
  ></app-marker-symmetry>
</h3>

@if (equippedByText(); as equippedText) {
  <div class="mt-3 italic text-xs">Equipped by {{ equippedText }}</div>
}

<div class="mt-3">
  <div>Level {{ itemData.dropLevel }}</div>

  <div>
    <span [ngClass]="['text-' + itemData.rarity]">{{ itemData.rarity }}</span>
    {{ itemData.__type }}
  </div>

  <div class="text-{{ symmetryTextRarity() }}">
    {{ symmetryText() }}
  </div>

  <div class="mt-2 items-center flex gap-2">
    @for (trait of itemTraits(); track $index) {
      <app-marker-trait [trait]="trait"></app-marker-trait>
    }
  </div>

  @if (hasStats()) {
    <div class="mt-3 font-bold mb-1">Stats</div>
  }

  <div class="grid" [class.grid-cols-2]="allowHorizontalCollapseOfStatBlocks()">
    @if (itemHealth() || deltaStat?.Health) {
      <app-marker-stat
        class="col-span-1"
        stat="Health"
        [value]="itemHealth() || 0"
        [delta]="deltaStat?.Health ?? 0"
      ></app-marker-stat>
    }

    @if (itemForce() || deltaStat?.Force) {
      <app-marker-stat
        class="col-span-1"
        stat="Force"
        [value]="itemForce() || 0"
        [delta]="deltaStat?.Force ?? 0"
      ></app-marker-stat>
    }

    @if (itemAura() || deltaStat?.Aura) {
      <app-marker-stat
        class="col-span-1"
        stat="Aura"
        [value]="itemAura() || 0"
        [delta]="deltaStat?.Aura ?? 0"
      ></app-marker-stat>
    }

    @if (itemSpeed() || deltaStat?.Speed) {
      <app-marker-stat
        class="col-span-1"
        stat="Speed"
        [value]="itemSpeed() || 0"
        [delta]="deltaStat?.Speed ?? 0"
      ></app-marker-stat>
    }
  </div>

  @if (allElements.length > 0) {
    <div class="mt-3 font-bold mb-1">Elements</div>

    <div
      class="grid"
      [class.grid-cols-2]="allowHorizontalCollapseOfStatBlocks()"
    >
      @for (element of allElements; track $index) {
        <app-marker-element
          class="col-span-1"
          [element]="element.element"
          [value]="element.multiplier"
          [delta]="deltaElement?.[element.element] ?? 0"
        ></app-marker-element>
      }
    </div>
  }

  @if (allSkills.length > 0) {
    <div class="mt-3 font-bold mb-1">Skills</div>

    <ul class="pl-7">
      @for (skill of allSkills; track $index) {
        <li class="relative">
          <span class="absolute top-[-24px] left-[-48px] transform scale-25">
            <app-icon-skill [skill]="skill"></app-icon-skill>
          </span>

          {{ skill.name }}
        </li>
      }
    </ul>
  }

  @if (allTalents.length > 0) {
    <div class="mt-3 font-bold mb-1">Talents</div>

    <ul class="list-disc pl-7">
      @for (talent of allTalents; track $index) {
        <li class="relative">
          <span class="absolute top-[-24px] left-[-48px] transform scale-25">
            <app-icon-talent [talent]="talent.ref"></app-icon-talent>
          </span>

          {{ talent.name }}: +{{ talent.value }}
        </li>
      }
    </ul>
  }
</div>

@if (itemData.description) {
  <p class="mt-3 text-xs italic">{{ itemData.description }}</p>
}
