<div class="flex flex-col gap-4">
  <div class="w-full">
    <div class="card bg-base-100 foreground shadow-xl">
      <div class="card-body">
        <div class="card-title">Console Options</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugConsoleLogStateUpdates') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:LogStateUpdates"
              (click)="
                setOption(
                  'debugConsoleLogStateUpdates',
                  !getOption('debugConsoleLogStateUpdates')
                )
              "
            />
            <span class="label-text">Log state updates</span>
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugGameloopTimerUpdates') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:LogTimerUpdates"
              (click)="
                setOption(
                  'debugGameloopTimerUpdates',
                  !getOption('debugGameloopTimerUpdates')
                )
              "
            />
            <span class="label-text">Log long (>100ms) gameloop timers</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full">
    <div class="card bg-base-100 foreground shadow-xl">
      <div class="card-body">
        <div class="card-title">Game Options</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugMapNodePositions') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:MapNodePositions"
              (click)="
                setOption(
                  'debugMapNodePositions',
                  !getOption('debugMapNodePositions')
                )
              "
            />
            <span class="label-text">Map Node Positions</span>
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <input
              type="checkbox"
              [checked]="getOption('debugAllowBackgroundOperations') === true"
              class="checkbox checkbox-secondary"
              appAnalyticsClick="Options:Debug:AllowBackgroundOperations"
              (click)="
                setOption(
                  'debugAllowBackgroundOperations',
                  !getOption('debugAllowBackgroundOperations')
                )
              "
            />
            <span class="label-text">Allow Background Operations</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full">
    <div class="card bg-base-100 foreground shadow-xl">
      <div class="card-body">
        <div class="card-title">Timers</div>

        <div class="form-control">
          <label class="label cursor-pointer label-checkbox">
            <span class="label-text !ml-0 mr-2">Tick Multiplier</span>
            <input
              #tickMultiplier
              type="range"
              [min]="1"
              [max]="100"
              [value]="getOption('debugTickMultiplier')"
              (change)="
                setOption('debugTickMultiplier', tickMultiplier.valueAsNumber)
              "
              class="range range-secondary"
            />
            <span class="ml-2">{{ getOption('debugTickMultiplier') }}x</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
