@let currentTab = activeTab();

<app-card-page>
  <span header>World</span>

  <div pageactions>
    <app-button-close (click)="closeMenu()"></app-button-close>
  </div>

  <div role="tablist" class="tabs tabs-boxed">
    @for (tab of tabs; track $index) {
      <button
        role="tab"
        class="tab"
        [class.tab-active]="currentTab === tab.link"
        (click)="changeActiveTab(tab.link)"
        (keydown)="changeActiveTab(tab.link)"
        [appAnalyticsClick]="'World:Navigate:' + tab.name"
      >
        {{ tab.name }}
      </button>
    }
  </div>

  <div class="p-3 max-h-[550px] h-[550px] overflow-y-auto">
    @switch (currentTab) {
      @case ('ResourceGeneration') {
        <app-panel-world-resource-generation></app-panel-world-resource-generation>
      }

      @case ('Claims') {
        <app-panel-world-claims></app-panel-world-claims>
      }

      @case ('ClaimsLog') {
        <app-panel-world-claimlog></app-panel-world-claimlog>
      }

      @case ('Festivals') {
        <app-panel-world-festivals></app-panel-world-festivals>
      }
    }
  </div>
</app-card-page>
