@let items = selectedItems();

<div class="flex flex-row gap-2 h-full">
  <div class="flex-1 flex flex-col h-full">
    <app-panel-town-building-upgrade
      [building]="'Salvager'"
    ></app-panel-town-building-upgrade>
  </div>

  <div class="flex-2 card bg-base-100 foreground shadow-xl h-full panel-card">
    <div class="card-body">
      <div class="card-title relative">Break Down Items</div>

      <div class="flex flex-col justify-between h-full">
        <div class="flex flex-row flex-wrap gap-2">
          @for (slot of maxSlots() | repeat; track $index) {
            <app-icon-blank-slot
              class="cursor-pointer"
              (click)="unchooseItem($index)"
              (contextmenu)="unchooseItem($index)"
            >
              @if (items[slot]; as item) {
                <app-icon-item [item]="item"></app-icon-item>
              } @else {
                Choose
              }
            </app-icon-blank-slot>
          }
        </div>

        <div class="mt-4">
          <button
            class="btn btn-secondary btn-block"
            (click)="autoChooseItems()"
            [disabled]="selectedItems().length >= maxSlots()"
            appSfx="ui-click"
            [sfxTrigger]="['click', 'hover']"
          >
            Auto-choose Items
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-2 card bg-base-100 foreground shadow-xl panel-card">
    <div class="card-body">
      <div class="card-title relative">Results</div>

      <div class="flex flex-col gap-2 justify-between h-full">
        <div class="flex-1">
          @if (items.length > 0) {
            @for (earning of earnings(); track $index) {
              <div>
                <app-marker-currency
                  [currency]="earning[0]"
                  [value]="earning[1]"
                ></app-marker-currency>
              </div>
            }
          } @else {
            <app-blank-slate>Choose items to break</app-blank-slate>
          }
        </div>

        <button
          class="btn btn-primary"
          (click)="breakItems()"
          [disabled]="!hasAnyItems()"
          appSfx="item-get-minor"
          [sfxTrigger]="['click', 'hover']"
        >
          Break Down
        </button>
      </div>
    </div>
  </div>
</div>

<app-card-page heightProfile="sub" *teleportTo="'panel-town'">
  <span header>Choose Items To Break Down</span>

  <app-inventory-grid-container
    [allowedItemTypes]="['accessory', 'armor', 'trinket', 'weapon']"
    (itemClicked)="chooseItem($event)"
    [allowItemClicks]="true"
    [containerHeight]="220"
    [disabledItemIds]="disabledItemIds()"
  ></app-inventory-grid-container>
</app-card-page>
