<div class="flex flex-row gap-2">
  <div class="flex-1 flex flex-col">
    <h3 class="text-lg">Risk Tolerance</h3>

    <div class="join mt-2">
      @let tolerance = currentRiskTolerance();
      <button
        class="btn btn-info join-item"
        [class.btn-outline]="tolerance !== 'low'"
        (click)="changeRiskTolerance('low')"
        appSfx="ui-click"
        [sfxOffset]="0"
        [sfxTrigger]="['click', 'hover']"
        [tp]="
          'Heroes will attempt locations no more than 3 levels higher than them.'
        "
      >
        Safe
      </button>
      <button
        class="btn btn-warning join-item"
        [class.btn-outline]="tolerance !== 'medium'"
        (click)="changeRiskTolerance('medium')"
        appSfx="ui-click"
        [sfxOffset]="1"
        [sfxTrigger]="['click', 'hover']"
        [tp]="
          'Heroes will attempt locations no more than 7 levels higher than them.'
        "
      >
        Cautious
      </button>
      <button
        class="btn btn-error join-item"
        [class.btn-outline]="tolerance !== 'high'"
        (click)="changeRiskTolerance('high')"
        appSfx="ui-click"
        [sfxOffset]="2"
        [sfxTrigger]="['click', 'hover']"
        [tp]="'Heroes will attempt any location.'"
      >
        Risky
      </button>
    </div>

    <h3 class="text-lg mt-4">Location Types</h3>

    <div class="join mt-2">
      @let preferences = nodeTypePreferences();
      @for (nodeType of locationTypes; track nodeType) {
        <button
          class="btn btn-primary join-item relative"
          [class.btn-outline]="!preferences[nodeType]"
          (click)="toggleNodeType(nodeType)"
          appSfx="ui-click"
          [sfxOffset]="$index"
          [sfxTrigger]="['click', 'hover']"
          [tp]="
            'Heroes will ' +
            (preferences[nodeType] ? 'attempt' : 'avoid') +
            ' ' +
            nodeType +
            ' locations.'
          "
        >
          <app-icon-location
            class="scale-50 absolute left-[-4px]"
            [type]="nodeType"
          ></app-icon-location>

          <span class="pl-8">
            {{ nodeType | titlecase }}
          </span>
        </button>
      }
    </div>

    <h3 class="text-lg mt-4">Loot Rarity</h3>

    <div class="join mt-2">
      @let rarityPrefs = lootRarityPreferences();
      @for (rarity of lootRarities; track rarity) {
        <button
          class="btn join-item"
          [class.btn-outline]="!rarityPrefs[rarity]"
          [class.btn-light]="!rarityPrefs[rarity]"
          [ngClass]="[rarityPrefs[rarity] ? 'bg-' + rarity : '']"
          (click)="toggleLootRarity(rarity)"
          appSfx="ui-click"
          [sfxOffset]="$index"
          [sfxTrigger]="['click', 'hover']"
          [tp]="
            'Heroes will ' +
            (rarityPrefs[rarity] ? 'attempt' : 'avoid') +
            ' locations with ' +
            rarity.toLowerCase() +
            ' loot.'
          "
        >
          {{ rarity }}
        </button>
      }
    </div>
  </div>

  <div class="flex-1"></div>
  <div class="flex-1"></div>
</div>
