@let locationData = location();

<app-card-page>
  <span header class="flex gap-2 items-center">
    <div class="relative w-[64px] h-[64px]">
      <app-atlas-image
        spritesheet="world-object"
        [assetName]="objectSprite()"
      ></app-atlas-image>
      <app-marker-location-claim
        class="absolute bottom-[2px] right-[2px]"
        [location]="locationData"
      ></app-marker-location-claim>
    </div>

    <div>
      <div>
        {{ locationData.name }}
      </div>

      <div class="italic text-sm font-normal">
        Encounter Level: {{ locationData.encounterLevel }}
      </div>
    </div>
  </span>

  <div pageactions>
    <app-button-close (click)="closeMenu()"></app-button-close>
  </div>

  <div class="w-full flex flex-row justify-center mt-4 gap-2 min-h-[24px]">
    @for (trait of traits(); track $index) {
      <app-marker-location-trait [trait]="trait"></app-marker-location-trait>
    }
  </div>

  <div class="flex flex-row">
    <div class="flex flex-2 flex-col gap-2 justify-between">
      <div>
        <div class="my-1 text-lg">Guardians ({{ guardians().length }})</div>

        <div class="w-full grid grid-cols-7 max-w-[486px] gap-1">
          @for (guardian of guardians(); track $index) {
            <app-location-guardian-display
              class="w-[68px] h-[68px]"
              [guardian]="guardian"
            ></app-location-guardian-display>
          } @empty {
            <div class="col-span-3">None</div>
          }
        </div>
      </div>

      <div class="flex flex-col gap-2 mt-2">
        @if (isAtThisNode()) {
          <div class="flex gap-2 items-center">
            <app-icon name="gameSevenPointedStar" size="1.5em"></app-icon>
            You are here!
          </div>

          <app-location-claim-progress-text></app-location-claim-progress-text>
        }

        @if (nodeLostTime() > 0) {
          <div class="badge badge-warning">
            <app-countdown
              [secondsLeft]="nodeLostTime()"
              label="Node Lost In"
            ></app-countdown>
          </div>
        }

        <button
          class="btn btn-info btn-block"
          [disabled]="!canTravelToThisNode()"
          (click)="travelToThisNode()"
        >
          <app-countdown
            [secondsLeft]="travelTimeSeconds()"
            [parenthesize]="true"
            label="Travel"
          ></app-countdown>
        </button>
      </div>
    </div>

    <div class="h-full flex flex-2 flex-col gap-2">
      <div>
        <div class="my-1 text-lg">Loot ({{ loot().length }})</div>

        <div class="w-full grid grid-cols-7 max-w-[486px] gap-1">
          @for (item of loot(); track $index) {
            <div>
              <app-location-loot-display
                [loot]="item"
              ></app-location-loot-display>
            </div>
          } @empty {
            <div class="col-span-3">None</div>
          }
        </div>
      </div>
    </div>

    <div class="h-full flex flex-1 flex-col gap-2">
      <div class="text-lg">Elements Present</div>

      @for (el of elements(); track $index) {
        <div
          class="flex flex-row gap-2 items-center min-w-[250px] max-h-[21px]"
        >
          <app-icon-element [element]="el.element"></app-icon-element>
          <div class="min-w-[128px] flex-1">{{ el.element | titlecase }}</div>
          <div class="min-w-[56px]">{{ el.intensity }}%</div>
        </div>
      } @empty {
        None
      }

      <div class="text-lg">Resources Generated Per Tick</div>

      @for (res of resourcesGenerated(); track $index) {
        <div
          class="flex flex-row gap-2 items-center min-w-[250px] max-h-[21px]"
        >
          <app-icon-currency [currency]="res.resource"></app-icon-currency>
          <div class="min-w-[128px] flex-1">{{ res.resource }}</div>
          <div class="min-w-[56px]">+{{ res.amount | number: '1.0-2' }}</div>
        </div>
      } @empty {
        None
      }
    </div>
  </div>
</app-card-page>
