@let locationData = location();

<app-card-page>
  <span header class="flex gap-2 items-center">
    <div class="relative w-[64px] h-[64px]">
      <app-atlas-image
        spritesheet="world-object"
        [assetName]="objectSprite()"
      ></app-atlas-image>

      <app-marker-location-claim
        class="absolute bottom-[-4px] right-[-6px]"
        [location]="locationData"
      ></app-marker-location-claim>
    </div>

    <div>
      <div>
        {{ locationData.name }}

        @if (upgradeLevel() > 0) {
          +{{ upgradeLevel() }}
        }
      </div>

      <div class="italic text-sm font-normal">
        Encounter Level: {{ encounterLevel() }} | Loot Level: {{ lootLevel() }}
      </div>
    </div>
  </span>

  <div pageactions>
    <app-button-close (click)="closeMenu()"></app-button-close>
  </div>

  <div class="w-full flex flex-row justify-center mt-4 gap-2 min-h-[24px]">
    @if (isAtThisNode()) {
      <div class="badge badge-info">
        <app-icon name="gameSevenPointedStar" size="1.5em"></app-icon>
        You are here!
      </div>
    }

    @if (locationData.currentlyClaimed) {
      @if (nodeLostTime() > 0) {
        <div class="badge badge-warning">
          <app-countdown
            [secondsLeft]="nodeLostTime()"
            label="Location Lost In"
          ></app-countdown>
        </div>
      } @else if (locationData.permanentlyClaimed) {
        <div class="badge badge-success">
          This location is permanently safe!
        </div>
      } @else {
        <div class="badge badge-danger">Location error!</div>
      }
    }

    @for (trait of traits(); track $index) {
      <app-marker-location-trait [trait]="trait"></app-marker-location-trait>
    }
  </div>

  <div class="flex flex-row mt-2 gap-2">
    <div class="flex flex-1 flex-col gap-2 justify-between">
      <div class="text-lg">Elements Present</div>

      @for (el of elements(); track $index) {
        <div
          class="flex flex-row gap-2 items-center min-w-[250px] max-h-[21px]"
        >
          <app-icon-element [element]="el.element"></app-icon-element>
          <div class="min-w-[128px] flex-1">{{ el.element | titlecase }}</div>
          <div class="min-w-[56px]">{{ el.intensity }}%</div>
        </div>
      } @empty {
        None
      }

      <div class="text-lg">Resources Generated Per Tick</div>

      @for (res of resourcesGenerated(); track $index) {
        <div
          class="flex flex-row gap-2 items-center min-w-[250px] max-h-[21px]"
        >
          <app-icon-currency [currency]="res.resource"></app-icon-currency>
          <div class="min-w-[128px] flex-1">{{ res.resource }}</div>
          <div class="min-w-[56px]">+{{ res.amount | number: '1.0-2' }}</div>
        </div>
      } @empty {
        None
      }

      <div class="flex flex-col gap-2 mt-2">
        <button
          class="btn btn-info btn-block"
          [disabled]="!canTravelToThisNode()"
          (click)="travelToThisNode()"
        >
          <app-countdown
            [secondsLeft]="travelTimeSeconds()"
            [parenthesize]="true"
            label="Travel"
          ></app-countdown>
        </button>
      </div>
    </div>

    <div class="h-full flex flex-3 gap-2">
      @if (locationData.currentlyClaimed) {
        <div class="flex flex-1 flex-col">
          <div class="my-1 text-lg">
            Upgrades (Max Lv.{{ maxUpgradeLevel() }})
          </div>

          <div class="grid grid-cols-3">
            @for (upgrade of availableUpgrades(); track $index) {
              <app-location-upgrade-display
                class="col-span-1"
                [location]="locationData"
                [upgrade]="upgrade"
              ></app-location-upgrade-display>
            } @empty {
              <app-blank-slate class="!h-48 col-span-3">
                No upgrades available for this location.
              </app-blank-slate>
            }
          </div>
        </div>
      } @else {
        <div class="flex flex-1 flex-col">
          @switch (locationData.captureType) {
            @case ('guardians') {
              <div class="my-1 text-lg">
                Guardians ({{ guardians().length }})
              </div>

              <div class="w-full grid grid-cols-7 max-w-[486px] gap-1">
                @for (guardian of guardians(); track $index) {
                  <app-location-guardian-display
                    class="w-[68px] h-[68px]"
                    [guardian]="guardian"
                  ></app-location-guardian-display>
                } @empty {
                  <div class="col-span-3">None</div>
                }
              </div>
            }

            @case ('time') {
              <div class="my-1 text-lg">Capture Time</div>

              <div class="w-full">
                {{ captureTimeSeconds() | number }} second(s)
              </div>
            }

            @default {
              <app-blank-slate class="!h-48 col-span-3">
                No specified capture type.
              </app-blank-slate>
            }
          }
        </div>

        <div class="flex flex-1 flex-col">
          <div class="my-1 text-lg">Loot ({{ loot().length }})</div>

          <div class="w-full grid grid-cols-7 max-w-[486px] gap-1">
            @for (item of loot(); track $index) {
              <div>
                <app-location-loot-display
                  [loot]="item"
                ></app-location-loot-display>
              </div>
            } @empty {
              <div class="col-span-3">None</div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</app-card-page>
