@let talentData = talent();

<h3 class="text-lg">{{ talentData.name }}</h3>

<p class="my-2">{{ talentData.description }}</p>

@if (talentData.requireTalentId) {
  <p class="text-xs italic mt-2">
    Requires
    <app-content-name [id]="talentData.requireTalentId"></app-content-name>
  </p>
}

@if (requiredTalentsInvested()) {
  <p
    class="text-xs italic mt-2"
    [class.text-yellow-400]="
      currentTalentsInvested() < requiredTalentsInvested()
    "
    [class.text-green-400]="
      currentTalentsInvested() >= requiredTalentsInvested()
    "
  >
    Requires {{ requiredTalentsInvested() }} talents invested in this tree ({{
      currentTalentsInvested()
    }}/{{ requiredTalentsInvested() }})
  </p>
}
