<div class="flex gap-2">
  <div class="flex-1 min-w-[200px] italic text-sm">This Item</div>

  <div class="flex-1 min-w-[200px] italic text-sm">Currently Equipped</div>
</div>

<div class="flex gap-2">
  <div class="flex-1 min-w-[200px]">
    <app-stats-item
      [item]="item()"
      [statDeltas]="leftSideDeltas()"
    ></app-stats-item>
  </div>

  <div class="flex-11 min-w-[200px]">
    <app-stats-item
      [item]="compareWith()"
      [statDeltas]="rightSideDeltas()"
    ></app-stats-item>
  </div>
</div>
