<app-card-page>
  <span header>Heroes</span>

  <div pageactions>
    <button class="ml-8 btn btn-clear" (click)="closeMenu()">
      <app-icon name="tablerX"></app-icon>
    </button>
  </div>

  <div class="flex flex-row h-full">
    <div class="flex flex-col h-full justify-between w-[128px]">
      @for (hero of allHeroes(); track hero.id) {
        @let isActive = hero === activeHero();
        <div
          class="flex flex-col items-center p-6 cursor-pointer"
          [class.border-r]="!isActive"
          [class.border-l]="isActive"
          [class.border-t]="isActive"
          [class.border-b]="isActive"
          (click)="setHeroIndex($index)"
        >
          <app-icon-hero [hero]="hero"></app-icon-hero>

          <div>{{ hero.name }}</div>
        </div>
      }
    </div>

    <div
      class="flex-1 flex flex-col justify-between border-t border-r border-b p-4"
    >
      <div class="flex flex-row h-full gap-2 mb-4">
        <div class="w-[300px] flex flex-col gap-4">
          <app-panel-heroes-stats
            [hero]="activeHero()"
          ></app-panel-heroes-stats>

          <app-panel-heroes-targetting
            [hero]="activeHero()"
          ></app-panel-heroes-targetting>
        </div>

        <div class="flex-1">
          <app-panel-heroes-talents
            [hero]="activeHero()"
          ></app-panel-heroes-talents>
        </div>
      </div>

      <div class="flex flex-row h-full gap-2">
        <div class="flex-1">
          <app-panel-heroes-equipment
            [hero]="activeHero()"
            (slotClick)="setEquipType($event)"
            (slotRightClick)="unequipItem($event)"
            [highlightSlot]="equipItemType()"
          ></app-panel-heroes-equipment>
        </div>

        <div class="flex-1">
          <app-panel-heroes-skills
            [hero]="activeHero()"
            (slotClick)="setSkillSlot($event)"
            (slotRightClick)="unequipSkill($event)"
            [highlightSlot]="skillSlot()"
          ></app-panel-heroes-skills>
        </div>
      </div>
    </div>
  </div>
</app-card-page>

@if (equipItemType(); as equipType) {
  <app-card-page heightProfile="sub">
    <span header>Choose {{ equipType | titlecase }}</span>

    <div pageactions>
      <button class="ml-8 btn btn-clear" (click)="closeEquipment()">
        <app-icon name="tablerX"></app-icon>
      </button>
    </div>

    <app-inventory-grid-container
      [allowedItemTypes]="[equipType]"
      (itemClicked)="equipItem($event)"
      [allowItemClicks]="true"
      [containerHeight]="220"
      [compareItemToHero]="activeHero()"
    ></app-inventory-grid-container>
  </app-card-page>
}

@if (skillSlot() >= 0) {
  <app-card-page heightProfile="sub">
    <span header>Choose Spell</span>

    <div pageactions>
      <button class="ml-8 btn btn-clear" (click)="closeSkills()">
        <app-icon name="tablerX"></app-icon>
      </button>
    </div>

    <app-inventory-grid-container
      [allowedItemTypes]="['skill']"
      (skillClicked)="equipSkill($event)"
      [allowSkillClicks]="true"
      [containerHeight]="220"
      [compareSkillToHero]="activeHero()"
      [compareSkillToHeroSlot]="skillSlot()"
    ></app-inventory-grid-container>
  </app-card-page>
}
