@let claimData = claims();
@let maxData = maxClaims();

<table>
  <tbody>
    <tr>
      <td>
        <app-icon-location [type]="'cave'"></app-icon-location>
      </td>

      <td class="pl-2">
        {{ claimData.cave }} / {{ maxData.cave }} caves claimed
      </td>
    </tr>

    <tr>
      <td>
        <app-icon-location [type]="'dungeon'"></app-icon-location>
      </td>

      <td class="pl-2">
        {{ claimData.dungeon }} / {{ maxData.dungeon }} dungeons claimed
      </td>
    </tr>

    <tr>
      <td>
        <app-icon-location [type]="'castle'"></app-icon-location>
      </td>

      <td class="pl-2">
        {{ claimData.castle }} / {{ maxData.castle }} castles claimed
      </td>
    </tr>

    <tr>
      <td>
        <app-icon-location [type]="'village'"></app-icon-location>
      </td>

      <td class="pl-2">
        {{ claimData.village }} / {{ maxData.village }} villages claimed
      </td>
    </tr>

    <tr>
      <td>
        <app-icon-location [type]="'town'"></app-icon-location>
      </td>

      <td class="pl-2">
        {{ claimData.town }} / {{ maxData.town }} towns claimed
      </td>
    </tr>
  </tbody>
</table>
