@let talents = tree().talents;

<div class="grid grid-cols-10 gap-2 w-full">
  @for (level of talents; track $index) {
    <div class="col-span-1 grid col-rows-5 gap-2 place-content-center">
      @for (talent of level.learnableTalents; track $index) {
        <app-icon-talent
          [talent]="talent.talentData"
          [isBought]="talent.isLearned"
          [swal]="learnSwal"
          [class.opacity-50]="!talent.canPurchase"
          [class.cursor-pointer]="talent.canPurchase && !talent.isLearned"
          [class.pointer-events-none]="!talent.canPurchase"
        ></app-icon-talent>

        <swal
          #learnSwal
          title="Learn {{ talent.talentData.name }}?"
          icon="question"
          confirmButtonText="Yes, learn talent"
          cancelButtonText="No, cancel"
          (confirm)="learnTalent(talent)"
        ></swal>
      }

      <div class="text-xs text-center italic">Level {{ level.level }}</div>
    </div>
  }
</div>
