@let currentTab = activeTab();

<app-card-page>
  <span header>Town</span>

  <div pageactions>
    <app-button-close (click)="closeMenu()"></app-button-close>
  </div>

  <div role="tablist" class="tabs tabs-boxed">
    @for (tab of tabs; track $index) {
      <button
        role="tab"
        class="tab"
        [class.tab-active]="currentTab === tab.link"
        (click)="changeActiveTab(tab.link)"
        (keydown)="changeActiveTab(tab.link)"
        [appAnalyticsClick]="'Town:Navigate:' + tab.name"
        [class.hidden]="!tab.showIf()"
      >
        {{ tab.name }}

        @if (tab.level() > 0) {
          Lv.{{ tab.level() }}
        }
      </button>
    }
  </div>

  <div class="p-3 max-h-[550px] h-[550px] overflow-y-auto">
    @switch (currentTab) {
      @case ('Market') {
        <app-panel-town-market></app-panel-town-market>
      }

      @case ('Salvager') {
        <app-panel-town-salvager></app-panel-town-salvager>
      }

      @case ('Alchemist') {
        <app-panel-town-alchemist></app-panel-town-alchemist>
      }

      @case ('Merchant') {
        <app-panel-town-merchant></app-panel-town-merchant>
      }

      @case ('Academy') {
        <app-panel-town-academy></app-panel-town-academy>
      }

      @case ('Blacksmith') {
        <app-panel-town-blacksmith></app-panel-town-blacksmith>
      }

      @case ('Rally Point') {
        <app-panel-town-rallypoint></app-panel-town-rallypoint>
      }

      @case ('Festivals') {
        <app-panel-town-festivals></app-panel-town-festivals>
      }
    }
  </div>
</app-card-page>

<ng-container teleportOutlet="panel-town"></ng-container>
