<div class="flex justify-center items-center page-size">
  <div
    class="card card-side bg-base-100 shadow-xl min-h-[300px] max-h-[500px] w-3/4"
  >
    <figure class="card-image !hidden md:!flex">
      <img
        src="favicon/web-app-manifest-512x512.png"
        alt="Glowrift Duskhall Logo"
      />
    </figure>

    <div class="card-body flex flex-col justify-around items-center relative">
      <div class="flex-1 card-title text-center">
        <span class="title text-4xl">Glowrift Duskhall</span>
      </div>

      <p class="flex-3 flex items-center max-w-[600px]">
        Lead a guild of wizards through procedurally generated worlds where
        magic flows through everything. Your wizards automatically explore
        dangerous territories, battle corrupted Forces, and discover powerful
        spells while you make strategic decisions about their elemental
        specializations and equipment. Evolve your wizards' abilities, collect
        rare spells across four elemental schools, and liberate corrupted
        villages to unlock global upgrades that strengthen your entire magical
        civilization.
      </p>

      <div class="flex-3 card-actions flex flex-col gap-2 w-1/2">
        <button
          class="btn btn-primary btn-block"
          (click)="newGame()"
          appAnalyticsClick="Meta:Play:New"
          appSfx="ui-click"
          [sfxOffset]="0"
          [sfxTrigger]="['click']"
        >
          New Game
        </button>

        @if (hasStartedGame()) {
          <button
            class="btn btn-primary btn-block"
            (click)="resumeGame()"
            appAnalyticsClick="Meta:Play:Resume"
            appSfx="ui-click"
            [sfxOffset]="1"
            [sfxTrigger]="['click']"
          >
            Resume Game
          </button>
        }

        <button
          class="btn btn-secondary btn-block"
          (click)="showOptionsMenu()"
          appAnalyticsClick="Meta:Settings"
          appSfx="ui-click"
          [sfxOffset]="2"
          [sfxTrigger]="['click']"
        >
          Settings
        </button>
      </div>

      <div class="card-actions absolute bottom-0 left-0 right-0 p-2">
        <app-connect-buttons></app-connect-buttons>
      </div>
    </div>
  </div>
</div>

@if (showingOptions()) {
  <div class="absolute inset-0 static-layer bg-gray-400/35"></div>

  <app-panel-container>
    <app-panel-options class="absolute inset-0 panel-layer"></app-panel-options>
  </app-panel-container>
}

<div
  class="fixed bottom-0 left-0 right-0 bg-base-100 h-8 flex justify-center items-center text-sm"
>
  <span>Version {{ meta.versionString() }}</span>

  <app-button-update></app-button-update>
</div>

<swal
  #newGameSwal
  title="Reset your game?"
  icon="warning"
  confirmButtonText="Yes, reset game"
  cancelButtonText="No, cancel"
></swal>
