<h3 class="text-lg">Spells</h3>

<div class="flex flex-row gap-2">
  @for (spellSlot of maxSkills() | repeat; track spellSlot) {
    <app-icon-blank-slot
      class="cursor-pointer"
      [class.animate-pulse]="highlightSlot() === spellSlot"
      (click)="slotClick.emit(spellSlot)"
      (contextmenu)="slotRightClick.emit(spellSlot)"
    >
      @if (hero().skills[spellSlot]; as skill) {
        <app-icon-skill
          [skill]="skill"
          [equippingHero]="hero()"
        ></app-icon-skill>
      } @else {
        Spell #{{ spellSlot + 1 }}
      }
    </app-icon-blank-slot>
  }
</div>
