@let skillData = skill();

<app-icon-blank-slot class="absolute"></app-icon-blank-slot>

<div
  class="h-[64px] w-[64px] outline outline-2 z-0 absolute"
  [ngClass]="itemOutlineClass()"
></div>

<app-atlas-animation
  class="z-10 absolute"
  [assetName]="skillData.sprite"
  [spritesheet]="'skill'"
  [frames]="skillData.frames"
  [tp]="itemInfo"
  [shouldAnimate]="shouldAnimate()"
></app-atlas-animation>

<div
  class="z-20 absolute bottom-0 left-[2px] text-xs font-bold italic text-black text-shadow-white"
>
  Lv. {{ skillData.dropLevel }}
</div>

<ng-template #itemInfo let-hide>
  <app-stats-skill [skill]="skillData"></app-stats-skill>
</ng-template>
