<div class="flex flex-row gap-2">
  <div class="flex-1 flex flex-col">
    <app-panel-town-building-upgrade
      [building]="'Blacksmith'"
    ></app-panel-town-building-upgrade>
  </div>

  <div class="flex-1 card bg-base-100 foreground shadow-xl"></div>

  <div class="flex-1 card bg-base-100 foreground shadow-xl"></div>
</div>

<app-card-page height="270px" *teleportTo="'panel-town'">
  <span header>Choose Item To Upgrade</span>

  <div class="flex flex-row max-h-[156px] overflow-y-auto p-2"></div>
</app-card-page>
