@let chosen = selectedItem();

<div class="flex flex-col gap-4 h-full">
  <div class="w-full">
    <app-panel-town-building-upgrade
      [building]="'Blacksmith'"
    ></app-panel-town-building-upgrade>
  </div>

  <div class="w-full card bg-base-100 foreground shadow-xl">
    <div class="card-body">
      <div class="card-title">Selected Item</div>

      @if (!chosen) {
        <app-blank-slate>Choose an item</app-blank-slate>
      }

      @if (chosen) {
        <app-stats-item
          [item]="chosen"
          [allowHorizontalCollapseOfStatBlocks]="true"
        ></app-stats-item>
      }
    </div>
  </div>

  <div class="w-full card bg-base-100 foreground shadow-xl">
    <div class="card-body">
      <div class="card-title">Actions</div>

      @if (!chosen) {
        <app-blank-slate>Choose an item</app-blank-slate>
      }

      @if (chosen) {
        <ul class="list bg-base-100 rounded-box shadow-md">
          <li class="list-row">
            <button
              class="btn btn-block btn-info list-col-grow"
              [disabled]="!canRerollItemTrait()"
              (click)="rerollTrait(chosen)"
            >
              Reroll Trait

              <app-marker-currency-inline
                [currency]="'Mana'"
                [value]="traitRerollCost()"
              ></app-marker-currency-inline>
            </button>
          </li>
        </ul>

        <div class="card-title">Enchantments</div>

        <ul class="list bg-base-100 rounded-box shadow-md">
          @for (path of enchantPaths(); track $index) {
            <li class="list-row">
              <button
                class="btn btn-block h-[60px] btn-neutral list-col-grow flex flex-col"
                [disabled]="!path.canEnchant"
                (click)="enchantItem(chosen, path.path)"
              >
                {{ path.path.description }}

                <div class="flex flex-row gap-2">
                  @for (currency of path.costs; track $index) {
                    <app-marker-currency-inline
                      [currency]="currency"
                      [value]="path.path.cost[currency]"
                    ></app-marker-currency-inline>
                  }
                </div>
              </button>
            </li>
          }
        </ul>
      }
    </div>
  </div>
</div>

<app-card-page height="370px" *teleportTo="'panel-town'">
  <span header>Choose Item To Upgrade</span>

  <app-inventory-grid-container
    [allowedItemTypes]="['accessory', 'armor', 'trinket', 'weapon']"
    (itemClicked)="selectedItem.set($event)"
    [allowItemClicks]="true"
    [containerHeight]="220"
    [disabledItemIds]="chosen ? [chosen.id] : []"
  ></app-inventory-grid-container>
</app-card-page>
