@let currentTab = activeTab();

<app-card-page>
  <span header>Combat</span>

  <div pageactions>
    <app-button-close (click)="closeMenu()"></app-button-close>
  </div>

  <div class="flex justify-between items-center">
    <div role="tablist" class="tabs tabs-boxed">
      @for (tab of tabs; track $index) {
        <button
          role="tab"
          class="tab"
          [class.tab-active]="currentTab === tab.link"
          (click)="changeActiveTab(tab.link)"
          (keydown)="changeActiveTab(tab.link)"
        >
          {{ tab.name }}
        </button>
      }
    </div>

    @if (canFlee()) {
      <button class="btn btn-warning" (click)="fleeFromCombat()">Flee</button>
    }
  </div>

  <div class="mt-1 p-3 max-h-[500px] overflow-y-auto">
    @switch (currentTab) {
      @case ('Preferences') {
        <app-panel-combat-preferences></app-panel-combat-preferences>
      }

      @case ('Claims') {
        <app-panel-combat-claims></app-panel-combat-claims>
      }

      @case ('CombatLog') {
        <app-panel-combat-combatlog></app-panel-combat-combatlog>
      }
    }
  </div>
</app-card-page>
