<h3 class="text-lg flex flex-row items-center justify-between">
  <div>
    Talents
    <br />
    <span class="text-xs italic">
      ({{ pointsAvailable() }} points remaining)
    </span>
  </div>

  <button
    class="btn btn-warning btn-sm"
    [swal]="respecSwal"
    appAnalyticsClick="Game:Hero:Respec"
    appSfx="ui-error"
    [sfxTrigger]="['click', 'hover']"
  >
    Re-spec
  </button>

  <div class="join">
    @for (treeData of allTrees(); track treeData.tree.id) {
      <button
        class="btn btn-neutral btn-sm btn-active join-item"
        [class.btn-outline]="currentTreeId() !== treeData.tree.id"
        (click)="changeTree(treeData.tree.id)"
        appSfx="ui-click"
        [sfxOffset]="$index"
        [sfxTrigger]="['click', 'hover']"
      >
        <app-icon-element [element]="treeData.tree.element"></app-icon-element>
        {{ treeData.tree.element }} ({{ treeData.amount }})
      </button>
    }
  </div>
</h3>

<div class="w-full mt-2">
  <app-panel-heroes-talents-tree
    [hero]="hero()"
    [tree]="currentTree()"
  ></app-panel-heroes-talents-tree>
</div>

<swal
  #respecSwal
  title="Reset {{ hero().name }}'s talents?"
  text="This will refund all talent points spent on {{
    hero().name
  }}. You can reassign them afterwards."
  icon="question"
  confirmButtonText="Yes, reset talents"
  cancelButtonText="No, keep them"
  (confirm)="respecHero()"
></swal>
