@let upg = upgrade();

<div class="card bg-base-200 foreground shadow-xl">
  <div class="card-body">
    <div class="text-lg">{{ upg.name }} ({{ numPurchases() }})</div>

    <p class="min-h-16">Next Level: {{ description() }}</p>

    <button
      class="btn btn-neutral"
      (click)="buyUpgrade()"
      [disabled]="!hasCurrency() || !canUpgrade()"
      appAnalyticsClick="Game:Location:Upgrade:{{ upg.name }}"
    >
      <app-button-cost-list
        [label]="''"
        [currencies]="upgradeCost()"
      ></app-button-cost-list>
    </button>
  </div>
</div>
